.urls-main-container{
	height: calc(100vh - 50px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #f5f5f5;
}
.urls-section{
	min-width: 900px;
	padding: 20px;
	margin-bottom: 20px;
}
.urls-section-header{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.urls-section-header-title{
	color: #393924;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 300;
	line-height: 32px;
}
.urls-section-header-subtitle{
	color: #393924;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: initial;
}
.urls-section-body{
	max-height: 30vh;
	overflow: auto;
}
.urls-run-sample-button{
	margin-right: 10px !important;
}
.urls-run-button{
	
}
.urls-selector-container{
	display: flex;
	justify-content: center;
	align-items: center;
}
.urls-selector-input-container{
	flex: 1;
}
.urls-selector-icon{
	cursor: pointer;
	margin-left: 6px;
}
.urls-tag-indicator{
	border-radius: 2px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
}